@media (max-width: 424px) {
  main {
    width: 95%;
    padding: 0 5px 5px 5px;
<<<<<<< HEAD
    margin-top: 57px;
    margin-bottom: 5px;
  }
  .item-flex {
    width: 90%;
    margin-right: 20px;
  }
  .main-Foto {
    width: 270px;
  }
  .flex-Container-big {
    margin-top: -50px;
=======
    margin-top: 40px;
    margin-bottom: 5px;
  }
  div.buttonUP {
    margin-right: 5%;
>>>>>>> bc6a6114f9d0c493c9a4f6e6be6346e3fce85039
  }
}
@media (max-width: 500px) and (min-width: 425px) {
  main {
    width: 90%;
    padding: 0 5px 5px 5px;
<<<<<<< HEAD
    margin-top: 57px;
    margin-bottom: 5px;
  }
  .main-Foto {
    width: 350px;
  }
  .flex-Container-big {
    margin-top: -50px;
=======
    margin-top: 5px;
    margin-bottom: 5px;
  }
  div.buttonUP {
    margin-right: 5%;
>>>>>>> bc6a6114f9d0c493c9a4f6e6be6346e3fce85039
  }
}
@media (max-width: 700px) and (min-width: 501px) {
  main {
    width: 90%;
  }
  .heading3 {
    font-size: 1.2em;
  }
<<<<<<< HEAD
  .flex-Container-big {
    margin-top: -2px;
=======
  div.buttonUP {
    margin-right: 5%;
>>>>>>> bc6a6114f9d0c493c9a4f6e6be6346e3fce85039
  }
}
@media (min-width: 701px) {
  main {
    width: 80%;
<<<<<<< HEAD
    margin-top: 20px;
=======
>>>>>>> bc6a6114f9d0c493c9a4f6e6be6346e3fce85039
  }
  .heading3 {
    font-size: 1.5em;
  }
<<<<<<< HEAD
  .flex-Container-big {
    margin-top: -10px;
  }
=======
>>>>>>> bc6a6114f9d0c493c9a4f6e6be6346e3fce85039
}
@media (min-width: 1024px) {
  header,
  footer {
    margin-left: -1.75%;
    margin-right: -1.75%;
  }
<<<<<<< HEAD
  div.navbar-brand {
    padding-left: 30px;
  }
  .flex-Container-big {
    display: flex;
    max-width: 90%;
  }
  address {
    margin-left: 12%;
  }
  .item-flex-big {
    flex-grow: 2;
  }
  div.buttonUP {
    margin-top: 0px;
  }
}

@media (max-width: 1000px) {
  .nav-link-current {
    border-bottom: 2px solid red;
  }
  .nav-link-current::before {
    height: 0px;
  }
=======
>>>>>>> bc6a6114f9d0c493c9a4f6e6be6346e3fce85039
}
