* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Podkova, Times, serif;
  line-height: 150%;
  background-image: url(/geekbrain/image/background/squreel.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  display: block;
  min-height: 100px;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(247, 180, 8, 0.774),
    rgba(195, 247, 8, 1)
  );
  border-radius: 0% 0% 15% 15%;
}
nav a {
  padding-left: 1%;
  padding-right: 10px;
  padding-bottom: 6px;
}
nav ul {
  text-align: right;
}
main {
  margin: 5px auto;
  padding: 0 20px 20px 20px;
  border: 1.5px solid rgba(20, 18, 18, 0.801);
  overflow: hidden;
}
main img {
  display: block;
  margin: auto;
  outline: 2px solid goldenrod;
  border: 3px solid burlywood;
}
address {
  margin-top: 1%;
  padding-left: 7%;
}
footer {
  display: block;
  min-height: 50px;
  background-image: linear-gradient(
    to top,
    rgba(107, 89, 89, 1),
    rgba(202, 142, 142, 0.774)
  );
  text-align: center;
  position: relative;
  border-radius: 15% 15% 0% 0%;
}
hr {
  margin: 0% -1% -1% -1%;
  padding: 0px;
}
div.container-All {
  max-width: 2500px;
  margin: 0 auto;
}
nav.navbarBoris {
  font-family: Kurale, Times, serif;
  font-size: 1.1em;
  z-index: 1;
}
.navbar-color {
  font-weight: 400;
  margin: -5px 0% 0px 0%;
  padding: 0px 1% 0px 1%;
}
.heading-1 {
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  color: rgba(8, 75, 247, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  margin: -5px 0% 5px 0%;
  padding: 10px 1% 0px 5px;
}
.navbar-brand {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
.main-index-spisok {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 20px;
  padding-left: 25px;
  list-style-type: none;
  position: relative;
}
.main-index-spisok li {
  padding-bottom: 37px;
  align-items: center;
}
.main-index-spisok li::before {
  content: "";
  position: absolute;
  left: -35px;
  width: 65px;
  height: 65px;
  background-image: url(/geekbrain/image/stormtrooper.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
ul.contact li {
  padding-left: 20px;
  position: relative;
  padding-bottom: 24px;
}

.instagramm-icon::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -52px;
  width: 50px;
  height: 50px;
  background-image: url(/geekbrain/image/icon/instagram.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

ul.contact li.phone-icon-position {
  padding-bottom: 12px;
}
.phone-icon::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -52px;
  width: 50px;
  height: 50px;
  background-image: url(/geekbrain/image/icon/whatsap.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}
ul.contact li.mail-icon-position {
  padding-bottom: 17px;
}
.mail-icon::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -52px;
  width: 50px;
  height: 50px;
  background-image: url(/geekbrain/image/icon/mail.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.facebook-icon::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -52px;
  width: 50px;
  height: 50px;
  background-image: url(/geekbrain/image/icon/facebook.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.github-icon::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -52px;
  width: 50px;
  height: 50px;
  background-image: url(/geekbrain/image/icon/github.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.tripadvisor-icon::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -52px;
  width: 50px;
  height: 50px;
  background-image: url(/geekbrain/image/icon/tripadvisor.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}
ul.contact span:hover::before,
ul.contact span:focus::before,
ul.contact span:active::before {
  opacity: 1;
  transition: 0.5s;
}

ul.Spisok li {
  text-align: left;
}

main img:hover {
  outline: 0px;
}
input[type="text"] {
  min-height: 2em;
  min-width: 150px;
  padding-left: 5px;
  border: 3px solid rgb(255, 255, 0);
  border-radius: 50rem;
}
input[type="password"] {
  min-height: 2em;
  min-width: 150px;
  padding-left: 5px;
  border: 3px solid rgb(255, 255, 0);
  border-radius: 50rem;
}
input[type="email"] {
  min-height: 2em;
  min-width: 150px;
  padding-left: 5px;
  border: 3px solid rgb(255, 255, 0);
  border-radius: 50rem;
}

.catalog {
  text-align: center;
}
.catalog a {
  text-align: center;
}

li.nav-item a.nav-link:hover {
  text-decoration: underline;
}
nav a:active {
  color: green;
}
.textarea {
  text-transform: uppercase;
  text-align: center;
  border: 3px solid rgba(127, 238, 16, 0.911);
  border-radius: 25% / 50%;

  width: 100%;
  max-width: 700px;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  clear: both;
}
td,
th {
  min-width: 150px;
  min-height: 100px;
  border: 2px solid black;
}
thead th {
  min-height: 200px;
}
.product {
  margin: 20px;
}

.footer {
  float: right;
  padding-right: 20px;
  color: rgba(183, 235, 235, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
.footer-data {
  float: left;
  padding-left: 25px;
  color: rgba(183, 235, 235, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
input[value="buy"]:hover {
  background-color: tomato;
}
input[value="buy"]:active {
  background-color: goldenrod;
}
.img-float {
  float: left;
  padding-right: 5px;
  margin-top: 5px;
}
.bezobt {
  clear: both;
}
div.buttonUP {
  position: relative;
  width: 90px;
  margin-left: 46%;
  margin-bottom: 10px;
  margin-top: -20px;
  padding-right: 15px;
  text-align: center;
  color: darkorange;
  background-color: gainsboro;
  border: 1px solid rgba(155, 238, 72, 0.781);
  border-radius: 25%;
}

div.buttonUP::after {
  content: "";
  position: absolute;
  right: 3px;
  border: 7px solid transparent;
  opacity: 0;
  border-bottom: 10px solid green;
}
@keyframes buttonUp {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
div.buttonUP:hover::after,
div.buttonUP:focus::after,
div.buttonUP:active::after {
  animation: 1s infinite buttonUp;
  animation-direction: alternate;
}

.kartaKrasnogorsk {
  width: 50%;
  min-width: 150px;
  border: 0px;
  margin: 0 auto;
}

.goodLink a:hover,
.goodLink a:focus,
.goodLink a:active {
  color: #ff5100;
}
.goodLink a {
  font-weight: 400;
  color: #00aeff;
  text-decoration: none;
  position: relative;
  transition: all 0.6s;
}
.goodLink a:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0%;
  left: 50%;
  background: #00aeff;
  transition: all 0.3s;
}
.goodLink a:hover::before,
.goodLink a:focus::before,
.goodLink a:active::before {
  width: 100%;
  left: 0;
  background: #ff5100;
}
.fotoSlider {
  display: inline;
  color: yellowgreen;
  background-color: darkred;
}
.carouselBoris {
  margin-top: 5px;
}
.trgreen {
  fill: green;
}
.tryelow {
  fill: rgb(255, 255, 0);
}
.trred {
  fill: red;
}
.svg-Nav-Icon {
  width: 50px;
  height: 50px;
  padding-top: 15px;
}
.strong-span {
  font-weight: bold;
}
.flex-Container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}
.item-flex {
  /*border: 5px solid black;*/
  /*outline: 5px dotted greenyellow;*/
  flex-basis: auto;
  margin-bottom: 20px;
  flex-grow: 1;
}
.item-one-flex {
  margin: 0 auto;
}
.main-Foto {
  margin-top: 10px;
}
.flex-addres {
  order: -1;
  padding-left: 5px;
  flex-basis: 230px;
  margin-bottom: 0px;
}
.flex-carusel {
  flex-basis: 100%;
}
.contact {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 0px;
}
.nav-link-current {
  display: inline-block;
}

ul.navbar-Boris li.nav-item a.nav-link-current:hover {
  text-decoration: none;
  color: inherit;
}

.nav-link-current::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 5px;
  right: 5px;
  height: 2px;

  background-color: red;
}
.nav-item {
  position: relative;
}
.travel-img {
  margin-right: 15px;
}
span.italick {
  font-style: italic;
}
.catalog-table {
  width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
}
input {
  position: relative;
}

/* попытка валидации в реальном времени */
.input-requirements {
  font-size: 0.8rem;
  font-style: italic;
  text-align: left;
  list-style: disc;
  list-style-position: inside;
  max-width: 400px;
  margin: 10px auto;
  color: rgb(150, 150, 150);
}
.input-requirements li.invalid {
  color: #e74c3c;
}
.input-requirements li.valid {
  color: #2ecc71;
}
.input-requirements li.valid:after {
  display: inline-block;
  padding-left: 10px;
  content: "\2713";
}
input:not([type="submit"]) + .input-requirements {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1.5s ease-out;
}
input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements {
  max-height: 500px; /* any large number (bigger then the .input-requirements list) */
  transition: max-height 1.5s ease-in;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
[class^="grid-column"] {
  outline: 2px solid rebeccapurple;
  min-height: 50px;
}
.grid-column1 {
  grid-column-start: 1;
  grid-column-end: 4;
}
