* {
  margin: 0;
  padding: 0;
}
html {
  background-color: aquamarine;
  line-height: 150%;
  height: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
#heading1 {
  text-align: center;
  font-family: Raleway;
  background-color: rgba(127, 238, 16, 0.911);
  margin: -5px -1% 5px -1%;
  padding: 10px 1% 0px 5px;
  font-size: 2em;
  font-weight: 400;
}
.navbar-color {
  font-family: Raleway;
  background-color: rgba(127, 238, 16, 0.911);
  margin: -5px -1% 0px -1%;
  padding: 10px 1% 0px 5px;
  font-weight: 400;
  border-radius: 0% 0% 15% 15%;
}
hr {
  margin: 0px -5% -5px -5%;
  padding: 0px;
}
main {
  width: 70%;
  margin: 15px auto;
  padding: 0 20px 20px 20px;
  border: 1.5px solid rgba(20, 18, 18, 0.801);
  overflow: hidden;
  font-family: Rubik;
}
.Spisok {
  margin: 0px 0px 0px 20px;
  list-style-image: url(/geekbrain/image/stormtrooper.svg);
  list-style-position: inside;
}
ul.Spisok li {
  text-align: left;
}
nav {
  font-family: Kurale;
  font-size: 1.1em;
}
nav a {
  color: blue;
  padding-left: 15px;
  padding-right: 10px;
}
nav ul {
  list-style-type: none;
  text-align: right;
}
.OpisanieTovara {
  font-weight: 400;
  text-align: left;
  line-height: 24px;
  font-size: 16px;
}
main img {
  display: block;
  margin: auto;
  outline: 2px solid goldenrod;
  border: 3px solid burlywood;
}
main img:hover {
  outline: 0px;
}
input[type="text"] {
  height: 2em;
  width: 150px;
  margin: 0 auto;
  border: 1px solid aqua;
  border-radius: 50rem;
}
input[type="password"] {
  height: 2em;
  margin: 0 auto;
  width: 150px;
  border: 1px solid aqua;
  border-radius: 50rem;
}
input[type="email"] {
  height: 2em;
  width: 150px;
  margin: 0 auto;
  border: 1px solid aqua;
  border-radius: 50rem;
}
input[type="email"]:focus {
  color: forestgreen;
  background-color: black;
}
.catalog {
  text-align: center;
}
.catalog a {
  text-align: center;
}
.catalog::first-letter {
  font-size: 1.25em;
  font-family: Lemonada;
}
/*
nav a:hover {
  color: rebeccapurple;
}
nav a:active {
  color: green;
}
*/
/*nav a:hover:after {
  content: ">";
  color: rebeccapurple;
}
nav a:hover::before {
  content: "<";
  color: rebeccapurple;
}
*/
input[type="text"] {
  text-transform: capitalize;
}
p.textarea:first-letter {
  text-transform: uppercase;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  clear: both;
}
td,
th {
  width: 150px;
  height: 100px;
  border: 2px solid black;
}
thead th {
  height: 200px;
}
nav li {
  display: inline-block;
}
/*
nav li ul {
  display: none;
}
nav li:hover ul {
  display: inline-block;
}
*/
.product {
  float: left;
  margin: 20px;
}
.logo {
  width: 100px;
  height: 50px;
  background-color: navajowhite;
  color: dimgrey;
  float: left;
  margin: 12px 35px;
  /*position: absolute;
  left: 50px;
  z-index: -1;
  */
}
header {
  display: block;
  height: 100px;
  position: relative;
}
footer {
  display: block;
  height: 50px;
  background-color: dimgrey;
  text-align: end;
  position: relative;
}
.footer {
  position: absolute;
  right: 10%;
  top: 10%;
  color: aliceblue;
}
input[value="buy"]:hover {
  background-color: tomato;
}
input[value="buy"]:active {
  background-color: goldenrod;
}
.imgBlock {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}
.bezobt {
  clear: both;
}
div.center {
  text-align: center;
}
address {
  padding-left: 3%;
}
